<div class="container">
  <div class="main-div">
    <img src="https://images.firstpost.com/uploads/2023/11/Virat-Kohli-celebrates-IND-NED-World-Cup-AP-640.jpg?im=FitAndFill=(596,336)" 
         class="profile-photo">
    <h1 class="main-heading">Hello to Nisarg's Components PR</h1>
    <h2>Login Form</h2>
    <input type="text" placeholder="Email">
    <input type="password" placeholder="Password">
    <p class="register-text">Register works!</p>
    <p class="forgot-text">Forgot-password works!</p>
    <p class="user-text">User works!</p>
    <button>Submit</button>
  </div>
</div>
